* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

a {
  color: aqua;
}

a:hover {
    color: red;
  }

#container {
  background-image: url(../images/1116.jpg);
  background-size: 265%;
  background-position: left;
  filter: invert(100%);
  min-height: 100%;
  padding: 3%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body {
  font-family: sans-serif;
  height: 100%;
  /* overflow: hidden; */
  width: 100%;
}

#bonus-art {
  margin-right: 10%;
}

fieldset {
  margin: 10px;
}

footer {
  font-size: 0.9em;
  margin-top: 30px;
}

.form-item {
  display: inline-block;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
  text-align: left;
}

html {
  height: 100%;
  /* overflow: hidden; */
}

hr {
  background-color: gray;
  height: 3px;
  margin-top: 20px;
}

p {
  margin: 2px 0;
  text-align: left;
}

.pi-stuff {
  background-color: #314159;
  border-color: aliceblue;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  color: aliceblue;
  filter: invert(100%);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 80%;
}

#pumpkin-pi {
  border-radius: 3px;
  max-width: 800px;
  margin: 10px;
  width: 90%;
}

section {
  margin-top: 30px;
}

#submit {
  border-color: aliceblue;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: aqua;
  font-size: 1em;
  margin-left: 80px;
  padding: 10px;
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
